.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;

  .dropdown {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 1rem;

    label {
      margin-right: 0.5rem;
    }

    select {
      padding: 0.5rem;
    }
  }

  .settings-icon {
    margin-right: 1rem;
    cursor: pointer;
    position: relative;

    &:hover .checkboxes-wrapper {
      display: block;
    }
  }

  .checkboxes-wrapper {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    z-index: 1;
    min-width: 150px;
  }

  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    label {
      margin-right: 1rem;
    }

    input {
      margin-right: 0.5rem;
    }
  }
}
