.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 0;
  background-color: #ededec;

  .dropdown {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 1rem;

    label {
      margin-right: 0.5rem;
    }

    select {
      padding: 0.1rem;
    }
  }

  .settings-icon {
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
  }

  .checkboxes-wrapper {
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    z-index: 1;
    border: 1px solid black;
  }
  .checkboxes {
    width: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;

    ul {
      padding: 0px 5px;
      margin: 5px 0px;
      li {
        input {
          padding: 0px 0px;
        }
      }
    }

    .no-bullets {
      list-style-type: none;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #e0e0dd;
}

td,
th {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
